<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- CONTENEDOR FIRST HEADING -->
    <div class="card mb-3 first-heading" style="max-width: 1000px; margin: auto;margin-top: 50px;border: none;border-top: 1px solid lightgray;">
        <div class="row g-0 margin 30px" style="margin-top: 50px;">
          <div class="col-md-8">
            <div class="card-body ">
                <h3 class="card-title">This First Heading <span style="color: gray;">Will Catch Your EYE</span></h3>
                <p class="card-text description" style=" font-family: Verdana, Geneva, Tahoma, sans-serif">Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
               
              </div>
          </div>
          <!-- CONTENEDOR IMAGEN FIRST HEADING -->
          <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzum7N8V4pDnfmWq1uLkSRg0ogpAVc50za7A&s" class="rounded-circle photo-first-heading" alt="Descripción de la imagen" style=" margin-left: 60px;">
            
          </div>
        </div>
      </div>
    </div>
</body>
</html>