<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram feed with Bootstrap</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid py-5">
        <h2 class="fw-bold">
            Porfolio
        </h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
        <div class="row">
            <div class="col-4">
                <div class="bg-light text-secondary" style="width:450px; height:200px;">
                    <h3 class="text-center" style="padding-top: 75px;">700X400</h3>
                </div>
                &nbsp;
                <h5 class="text-primary">
                    Project Name
                </h5>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                </p>
            </div>
            <div class="col-4">
                <div class="bg-light text-secondary" style="width:450px; height:200px;">
                    <h3 class="text-center" style="padding-top: 75px;">700X400</h3>
                </div>
                &nbsp;
                <h5 class="text-primary">
                    Project Name
                </h5>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                </p>
            </div>
            <div class="col-4">
                <div class="bg-light text-secondary" style="width:450px; height:200px;">
                    <h3 class="text-center" style="padding-top: 75px;">700X400</h3>
                </div>
                &nbsp;
                <h5 class="text-primary">
                    Project Name
                </h5>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                </p>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>