<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram feed with Bootstrap</title>
    <link rel="stylesheet" href="style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 ratio ratio-1x1 w-25">
                <img src="https://imagenes.elpais.com/resizer/v2/VAVX2IYYABNPBH2SZC4E4ZFABM.jpg?auth=093aec7c7467533859d7b6b16c560d9677e2f4f11278a60b1d9766c79ac2e30f&width=1200" alt="Image" class="img-fluid rounded-circle">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <h2>The Second Heading</h2>
                    </div>
                    <div class="col-8">
                        <h2 class="text-secondary">Is Pretty Cool Too.</h2>
                    </div>
                </div>
                <div class="row">
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>